body {
    background: #333;
}

.navbar {
    border-bottom-color: rgb(85, 185, 247);
    border-bottom-style: solid;
    border-bottom-width: 5px;
}

.jumbotron {
    background-image: url('https://wallpaper-house.com/data/out/9/wallpaper2you_361187.jpg');
    background-size: cover;
    /* min-height:calc(100vh - 61px); */
    /* filter: brightness(50%); */
    /* background: red; */
}

.media img {
    width: 70px;
}


/* filter: brightness(50%); */